# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
*.test
*.out

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode

# Env
.env

# CI/CD
.github
